<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026623119501-db5uqnrsqpdae01qm2l710o9fpvvi6cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026623119501-db5uqnrsqpdae01qm2l710o9fpvvi6cf</string>
	<key>API_KEY</key>
	<string>AIzaSyC3-BUfD8YlJn1z-VfmQeX4eSBmCiiceYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1026623119501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.TreasureHunter</string>
	<key>PROJECT_ID</key>
	<string>treasurehunter-bd45e</string>
	<key>STORAGE_BUCKET</key>
	<string>treasurehunter-bd45e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026623119501:ios:edd8c4e0ae3614c23742c4</string>
	<key>DATABASE_URL</key>
	<string>https://treasurehunter-bd45e.firebaseio.com</string>
</dict>
</plist>